{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
{% endblock %}

{% block title %}
Home Page!
{% endblock %}

{% block body %}

<div style="width: 990px; height: 900px; display: flex; flex:wrap; justify-content: space-between">
<div>


  <div style="width: 400px; margin-left: 100px">
    <img src="media/alvin.jpg" alt="Card image" style="width: 250px; height: 350px">
    <div>
      <h4>Realisateur</h4>
      <p>Alvin et ..</p>
     <button style="background-color:#EEE8AA"><a href="#" class="btn btn-primary">Détails =></a></button>
    </div>
  </div>
  
  <div style="width: 400px; margin-left: 100px">
    <img src="media/fois.jpg" alt="Card image" style="width: 250px; height: 350px">
    <div>
      <h4>Mike Mitchell</h4>
      <p>Alvin et les Chipmunks 3</p>
      <button style="background-color:#EEE8AA"><a href="#" class="btn btn-primary">Détails =></a></button>
    </div>
  </div>

  </div>

  <div>
  <div style="width: 400px; margin-left: 100px">
    <img src="media/Ours.png" alt="Card image" style="width: 250px; height: 350px">
    <div>
      <h4>Esben Toft Jacobsen</h4>
      <p>L'ours Montagne</p>
      <button style="background-color:#EEE8AA"><a href="#" class="btn btn-primary">Détails =></a></button>
    </div>
  </div>
  </div>

  <div>
  <div style="width: 400px; margin-left: 100px">
    <img src="media/monstre.jpg" alt="Card image" style="width: 250px; height: 350px">
    <div>
      <h4>Kevin Rupert Lima</h4>
      <p>Il était une fois !</p>
      <button style="background-color:#EEE8AA"><a href="#" class="btn btn-primary">Détails=></a></button>
    </div>
  </div>
  
  <div style="margin-right:900px">
 <div style="width: 400px">
    <img src="media/coco2.jpg" alt="Card image" style="width: 250px; height: 350px">
    <div>
      <h4>Lee Unkrich  et  Adrian Molina</h4>
      <p>Coco</p>
      <button style="background-color:#EEE8AA"><a href="#" class="btn btn-primary">Détails=></a></button>
    </div>
  </div>
 </div>

  </div>
</div>



 
{% endblock %}
